@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root{
    --primary-color: #6366f1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Inter',sans-serif;
    text-decoration: none;
}

body{
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
}

.header-content{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    gap: 0.5rem;
}

.logo-icon{
    height: 5.875rem;
    width: 1.938rem;
}

.nav{
    display: none;
    gap: 1.5rem;

}

.nav .nav-link{
    color: #718096;
    font-size: 1rem;
    font-weight: 600;
    transform: color 0.1s;
}

.nav-link:hover{    
    color: var(--link-color);
}

.contact-btn{
    display: none;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.contact-btn:hover{
    background-color: #5254f8;
}

.menu-btn{
    display: block;
    border: none;
    background-color: var(--background-color);
}

.menu-icon{
    height: 1.5rem;
    width: 1.5rem;
}



/* main section */

.main-section{
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin : 0 auto;
    align-items: center;
    padding: 0.6rem;
}


.main-section .content-left .section-label{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}

.main-section .content-left .section-title{
    font-size: 2.2rem;
    padding: 1rem;
    color: var(--text-color);
}

.main-section .content-left .section-description{
    font-size: 1rem;
}

.main-section .content-left .btn-grp{
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
    margin-top: 1rem;
}

.main-section .content-left .btn-grp .start-btn{
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.main-section .content-left .btn-grp .tour-btn{
    border-radius: 0.5rem;
    background-color: var(--dark-gray);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.main-section .content-left .btn-grp .start-btn:hover{
    background-color: #5254f8;
}

.main-section .content-left .btn-grp .tour-btn:hover{
    background-color: var(--text-color);
}

.main-section .content-right .image-container{
    border-radius: 20px;
    /* overflow: hidden; */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 57vh;
}

.main-section .content-right img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
}



.company-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.company-container .company-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 3.5rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border-radius: 0.6rem;
    margin-bottom: 5rem;
    padding: 1.8rem 2.5rem;

}

.company-container h2{
    font-size: 1.7rem;
}

.company-container .company-grid .company-logo{
    color: var(--dark-gray);
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.company-container .company-grid .company-logo img{
    height: 1.3rem;
}

.company-container .company-grid .company-logo .logo-text{
    font-size: 1rem;
}



@media(min-width:960px) {

    .header-content{
        justify-content: space-around;
        
    }

    .nav{
        display: flex;
    }

    .contact-btn{
        display: block;
    }

    .menu-btn{
        display: none;
    }

    .main-section{
        flex-direction: row;
        margin-top: 2rem;
    }

    .main-section .content-left{
        max-width: 50%;
        text-align: left;
    }

    .main-section .content-left .section-title{
        padding-left: 0;
        font-size: 3.5rem;
    }
    
    .main-section .content-left .btn-grp{
        justify-content: flex-start;
        padding-left: 0;
    }

    .main-section .content-left .section-description{
        width: 85% ;
    }

    .main-section .content-right .image-container{
        height: 70vh;
    }



    .company-container h2{
        font-size: 2.2rem;
    }

    .company-container .company-grid{
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(1,1fr);
    }



}


@media screen and (max-width:368px){
    .company-container .company-grid{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(4,1fr);
    }   
}

